:root {
  --title-font: 'Pacifico', 'Montserrat';
  --main-font: "Georgia, 'Times New Roman', Times, serif";
}

h1, h2, h3 {
  font-family: var(--title-font);
}

p {
  font-family: var(--main-font);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #009c5b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gap-10 {
  gap: 10px
}