:root {
  --title-font: 'Pacifico', 'Montserrat';
  --main-font: "Georgia, 'Times New Roman', Times, serif";
}

h1, h2, h3 {
  font-family: var(--title-font);
}

p, header a {
  font-family: var(--main-font);
}
.logo {
  width: 500px;
}
.custom-button:hover, .custom-button:active {
  background-color: #00e25e;
}
.custom-button {
  background-color: #009c5b;
  font-family: 'Open Sans', sans-serif
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #009c5b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside{
  font-size: 1.2em;
}

section{
  font-size: 1.2em;
}

.gap-10 {
  gap: 10px
}

/* sets the header component on large desktop screens */
@media only screen and (min-width: 990px){
  .logo {
    position: absolute;
  }
  
  header {
    height: 160px;
  }
  nav {
    margin-top: 50px;
  }

}

@media only screen and (max-width: 500px){
  .logo{
    width: 100%;
  }
}